
@using System.Globalization
<h1 
    style="background-color:beige ; color:darkblue; text-align:center"> Bright Stars For Software Solutions

</h1>

<h3 class="alert alert-success text-center"> Home Index </h3>